<% provide(:title, "Create Word") %>
<div class="col-6 mx-auto">
    <h1 class="text-center my-4">Create a word</h1>
    <div class="form">
        <%= form_for ([:admin, :category, @word]) do |f| %>
            <%= render "shared/alerts", object: f.object %>

            <%= f.label :word %>
            <%= f.text_field :word, class: "form-control" %>

            <%= f.fields_for :choices do |choice_field| %>
                <%= choice_field.label :choice %>
                <%= choice_field.text_field :choice, class: "form-control" %>
                <div class="w-100">
                    <%= choice_field.check_box :is_correct %>
                    <%= choice_field.label :is_correct, "Correct" %>
                </div>
            <% end %>

            <%= f.submit "Create new Word", class: "btn btn-block btn-primary mt-4" %>
        <% end %>
    </div>
    <%= link_to "Back", admin_category_path(@category), class: "btn btn-link btn-block mt-3" %>
</div>
