<div class="container">
    <div class="d-flex justify-content-between align-items center mt-4">
        <h1>Create a word</h1>
        <%= link_to "Back", admin_category_path(@category), class: "btn btn-link" %>
    </div>
    <%= form_for ([:admin, :category, @word]) do |f| %>
        <%= @word.category_id %>
        <%= f.hidden_field :category_id, :value => @word.category_id %>
        <%= f.label :word %>
        <%= f.text_field :word, class: "form-control" %>

        <%= f.fields_for :choices, @word.choices do |choice_field| %>
            <%= choice_field.hidden_field :word_id, :value => @word.id %>
            <%= choice_field.label :choice %>
            <%= choice_field.text_field :choice, class: "form-control" %>
        <% end %>

        <%= f.submit "Create word", class: "btn btn-block btn-primary mt-4" %>
    <% end %>
</div>