<div class="mt-4 text-center">
    <% if current_user.is_admin? %>
        <h1>Members</h1>
    <% else %>
        <h1>Users</h1>
    <% end %>
</div>
<div class="row pt-4">
    <% @users.each do |user| %>
        <div class="col-6 my-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-2 align-self-center">
                            <%= gravatar_for(user, "profile-medium") %>
                        </div>
                        <div class="col-10 d-flex justify-content-between">
                            <div>
                                <h4><%= link_to user.name, user %></h4>
                                <p><%= user.email %></p>
                            </div>
                            <% if current_user.is_admin && !user.is_admin %>
                                <%= link_to "Remove", user, method: :delete,
                                                            data: { confirm: "Are you sure?" } %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div>
    <%= will_paginate @users %>
</div>
