<div class="row pt-4 mx-0">
    <div class="col-4">
        <div class="card">
            <div class="card-header">User Information</div>
            <div class="card-body text-center">
                <h3><%= @user.name %></h3>
                <p><%= @user.email %></p>
                <div class="row mx-0">
                    <div class="col-6">
                        <a href="<%= following_user_path(@user) %>">
                            <strong><%= @user.following.count %></strong> following
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="<%= followers_user_path(@user) %>">
                            <strong><%= @user.followers.count %></strong> followers
                        </a>
                    </div>
                </div>
                <%= render "follow_form" %>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">Activity Feed</div>
            <div class="card-body">
                Activity feed empty
            </div>
        </div>
    </div>
</div>