<% provide(:title, "Results") %>
<div class="col-10 mx-auto my-4">
    <div class="d-flex justify-content-between align-items-end mb-3">
        <div>
            <h3>Your results for <strong><%= @category.title %></strong></h3>
        </div>
        <p class="mb-1">
            <strong>
                <%= @lesson.result %> out of <%= @lesson.words.count %>
            </strong>
        </p>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Word</th>
                <th>Your Answer</th>
                <th>Correct Answer</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @answers.each do |answer| %>
                <tr class="<% if answer.choice.is_correct? %>table-success<% else %>table-danger<% end %>">
                    <th><p class="mb-0"><%= answer.word.word %></p></th>
                    <td><p class="mb-0"><%= answer.choice.choice %></p></td>
                    <td>
                        <% @words.each do |word| %>
                            <% word.choices.each do |choice| %>
                                <% if word.id == answer.word.id %>
                                    <% if choice.is_correct? %>
                                        <p class="mb-0"><%= choice.choice %></p>
                                    <% end %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                    <td class="text-center">
                        <% if answer.choice.is_correct? %>
                            <i class="fa fa-check-circle text-success"></i>
                        <% else %>
                            <i class="fa fa-times-circle text-danger"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        <%= link_to "Back", categories_path, class: "btn btn-secondary" %>
    </div>
</div>