<div class="row my-4">
    <div class="col-6"><h1>Admin | Categories</h1></div>
    <div class="col-6">
        <div class="d-flex justify-content-end">
            <%= link_to "Create new Category", new_admin_category_path, class: "btn btn-primary" %>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Word/s</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <% @category.each do |cat| %>
            <tr>
                <td><%= link_to cat.title, admin_category_path(cat) %></td>
                <td><%= cat.description %></td>
                <td><%= cat.words.count %></td>
                <td>
                    <%= link_to "Edit", edit_admin_category_path(cat), class: "btn btn-info" %>
                    <%= link_to "Delete", admin_category_path(cat), method: :delete,
                                                data: { confirm: "Are you sure?" },
                                                class: "btn btn-danger" %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<div>
    <%= will_paginate @category %>
</div>
