<!DOCTYPE html>
<html>
    <head>
        <title><%= yield(:title) %> | eLearning</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <div class="main-content">
            <%= render 'layouts/header' %>
            <div class="container d-flex flex-fill flex-column">
                <% if flash.any? %>
                    <div class="flash-container">
                        <% flash.each do |type, msg| %>
                            <div class="my-1 alert alert-<%= type %> fade show alert-dismissible mt-4">
                                <div><%= msg %></div>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                <%= yield %>
            </div>
        </div>
        <%= render 'layouts/footer'%>
    </body>
</html>
